/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 35px;
    max-width: 1440px;
    width: 100%;
}

.main-sections {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

a {
    color: inherit;
    text-decoration: none;
}

h1, h2 {
    font-size: 1.4rem;
    margin: 0;
}

h3 {
    font-size: 1rem;
}

h4 {
    font-size: 1.1rem;
}

p {
    font-size: 1rem;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/****** Header ***********/
.appBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.appBar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.appBar-img {
    height: 20px;
}

.appBar-nav {
    display: flex;
    gap: 68px;
    height: 80px;
}

.appBar-nav-items {
    display: inline-flex;
    box-sizing: border-box;
    align-items: end;
    border-top: 2px #ffffff00 solid;
    height: 35px;
}

.appBar-nav-items:hover {
    color: var(--main-color);
    border-top: 2px #0065FC solid;
}

/****** Informations ***********/
.informations {
    display:flex;
    flex-direction: column;
    gap: 35px;
}

form {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

form .fa-solid {
    color: black;
}

form label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    height: 49px;
    width: 49px;
    border-radius: 12px 0px 0px 12px;
}

form input {
    font-weight: bold;
    text-align: center;
    border-color: #F2F2F2;
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    height: 49px;
    margin-right: -1em;
    padding-right: 1em;
}

form input:focus {
    outline: none;
}

.search-button, .search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    background-color: #0065FC;
    border-color: #0065FC;
    border-style: solid;
    border-radius: 0px 12px 12px 0px;
    height: 49px;
    padding: 16px;
    font-weight: bold;
}

form .search-icon {
    display: none;
    color: white;
}

.fieldset {
    display: flex;
    align-items: center;
    border: none;
    font-weight: bold;
    gap: 20px;
    padding: 0;
}

.legend {
    display: contents;
    font-size: 1.1rem;
}

.filter-bar {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.06rem;
}

.filter-bar .input {
    position: absolute;
    opacity: 0;
}

.filter-bar .label {
    display: grid;
    grid-template-columns: 18px auto;
    align-items: center;
    gap: 10px;
    padding: 12px;
    border-style: solid;
    border-color: #D9D9D9;
    background-color: white;
    border-radius: 25px;
    border-width: 2px;
}

.filter-bar .label:hover {
    background-color: #DEEBFF;
}

.filter-bar .fa-solid {
    font-size: 1.4rem;
}

.filter-bar .input:checked + .label {
    background-color: #DEEBFF;
}

.info-bar {
    display: grid;
    grid-template-columns: 26px auto;
    align-items: center;
    gap: 10px;
}

.info-bar .fa-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    background-color: white;
    border-color: #D9D9D9;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
}

/****** Hebergements, Populaires and Activites ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 30px;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.card img {
    object-fit: cover;
}

.card-subtitle {
    font-size: 0.8rem;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px,1fr));
    gap: 30px;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 8px;
    gap: 8px
}

.hebergements-link {
    font-weight: bold;
    font-size: 1.1rem;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.populaires-cards .card {
    display: flex;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.populaires-cards .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 67%;
    padding: 8px;
}

.populaires-cards .text {
    gap: 5px;
}

/****** Activites ***********/
.activites {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.activites-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    column-gap: 30px;
}

.activites-cards .card {
    padding: 0px 0px 5px 0px;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards .card-content {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    height: 50px;
    padding: 19px;
}

/****** Footer ***********/
.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    background-color: var(--main-bg-color);
    padding: 20px;
    gap: 30px;
}

.footer-div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .fieldset {
        display: grid;
        grid-template-columns: auto;
    }

    .fieldset .legend {
        display: grid;
        padding-bottom: 20px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
        gap: 50px;
    }

    .populaires {
        gap: 20px !important;
    }

    .hebergements, .populaires {
        width: 100%;
    }

    .populaires-cards  {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    .populaires-cards a {
        width: 100%;
    }

    .activites-cards img {
        height: 200px;
    }

}

/* Small devices (Mobile phones, less/equal than 768px) */
@media (max-width: 768px) {

    body {
        padding: 0px;
    }

    .main-container {
        min-width: 320px;
    }

    .appBar {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        height: 115px;
    }

    .appBar-nav {
        align-items: end;
        height: 35px;
        gap: 0px;
    }

    .appBar-nav-items {
        display: flex;
        justify-content: center;
        height: 80%;
        width: 100%;
        align-items: start;
        border-style: solid;
        border-width: 0px 0px 2px 0px;
        border-color: #f2f2f2;
    }

    .appBar-nav-items:hover {
        color: var(--main-color);
        border-top: 0;
        border-bottom: 2px #0065FC solid;
    }

    /* Informations */
    .informations {
        margin: 0px 20px;
    }

    .search-button {
        display: none;
    }

    form .search-icon {
        display: flex;
        border-radius: 12px;
        box-shadow: 0px 4px 4px rgba(0, 4, 4, 0.25);
    }

    .filter-bar {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(130px,1fr));
        column-gap: 10px;
        row-gap: 20px;
        font-size: 0.9rem;
    }

    /* Hebergements and Populaires */
    .hebergements-and-populaires {
        gap: 15px;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
        gap: 15px;
        padding: 20px;
        background-color: white;
    }
    
    .populaires {
        order: 1;
        background-color: var(--main-bg-color) !important;
        padding: 30px 20px !important;
    }

    .populaires-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
        gap: 15px;
    }

    .populaires-cards img {
        width: 100px;
        height: 146px;
    }

    .populaires-cards .card-content {
        padding: 10px 5px 5px 15px;
    }

    .hebergements {
        order: 2;
    }

    .hebergements-cards {
        gap: 15px;
    }

    /* Activites */
    .activites-cards {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .activites-cards img {
        height: 140px;
        width: 100%;
    }

    .activites-cards .card-content {
        height: auto;
    }

    /* Footer */
    .footer-container {
        padding: 30px;
        gap: 50px;
    }

}
